body
  h1= title
  form(action='/login', method='POST')
    p
      | email: 
      input(type='text', name='email', value='')
      br
      |          username: 
      input(type='text', name='username', value='')
      br
      |          password: 
      input(type='text', name='password', value='')
    input(type='submit', value='Login')